.env
.env.local

# Frontend source
pass-src/node_modules/
pass-src/dist/

# Contracts
contracts/out/
contracts/cache/
contracts/lib/
contracts/broadcast/
newsletter/node_modules/
newsletter-analytics/node_modules/
